<% for e in events %>
  <tr>
    <% if e.description %>
      <td>
        <%= e.start.strftime("%b %d, %I:%M%P")  %> <a id="<%= e.id %>"/><br />
        <div style="font-size:11px;"><a href="/<%=e.id%>" style="border-bottom: dotted;border-bottom-width: 1px; text-decoration: none;">(more info)</a></div>
      </td>
    <% else %>
      <td><%= e.start.strftime("%b %d, %I:%M%P") %> <a id="<%= e.id%>"/></td>
      <td class="status highlight">
        <% if e.informational %>
          <img src="{{ STATIC_URL }}images/status/information.png" alt="Information">
        <% else %>
          <%= image_tag("status/"+e.status.image+".png", alt: e.status.image)%>
        <% end %>
      </td>
      <td><%= e.message%></td>
    <%end%>
  </tr>
<% end %>