  <tr>
    <td><a href="/services/<%=service.slug%>"><%= service.name %></td>
    <% service.x_days_statuses(3).each_with_index do |e,i| %>
      <% if e == nil %>
          <td class="status" style="width: 100px;">
            <div>
              <%= image_tag("status/tick-circle.png") %>
            </div>
          </td>
      <% else %>
        <% if i == 0 %>
          <td class="status" style="width: 100px;">
            <div>
              <%= image_tag("status/"+service.current_status.status.image+".png", alt: service.current_status.status.name)%>
                <% if service.current_status.status.image != 'tick-circle' %>
                  <div style="font-size:9px;">
                    <% link_text = "/services/" + service.slug + "?status=" + service.current_status.id.to_s %>
                    <a href="<%= link_text %>" style="border-bottom: dotted;border-bottom-width: 1px; text-decoration: none;">(more info)</a>
                  </div>
                <% end %>
            </div>
          </td>
        <% else %>
          <td class="status" style="width: 100px;">
            <div>
              <%= image_tag("status/"+e.status.image+".png", alt: e.status.name) %>
                <% if e.status.image != 'tick-circle' %>
                  <div style="font-size:9px;">
                    <a href="/services/<%=service.slug%>?status=<%=e.id%>" style="border-bottom: dotted;border-bottom-width: 1px; text-decoration: none;">(more info)</a>
                  </div>
                <% end %>
            </div>
          </td>
        <% end %>
      <% end %>
    <% end %>
  </tr>