<div id="webservices" class="frame">
  <h2><%= @service.name %></h2>
  <p id="serviceDescription"><%= @service.description %></p>        
    <table class="event-log" cellpadding="10">
      <thead>
        <tr>
          <th class="time-header">Time</th>
          <th class="status-header">Status</th>
            <th>Detail</th>
        </tr>
      </thead>
      <tbody id="events-tbody">
        <td colspan=3 style="background-color: #ddd;">Past events</td>
        <% unless @events.empty? %>
          <%= render partial: 'eventstable', :locals=> {events: @events} %>
        <% else %>
          <tr>
            <td colspan=3>No events to display</td>
          </tr>
        <% end %>
        <td colspan=3 style="background-color: #ddd;">Future events</td>
        <% unless @maintenance.empty? %>   
          <%= render partial: 'eventstable', :locals=> {events: @maintenance} %>
        <% else %>
          <tr>
            <td colspan=3>No events to display</td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div id="current_time"><small><b>All time shown is Sydney, Australia time.</b><br /><i>Current time:  <%= Time.zone.now.strftime("%b %d, %I:%M%P") %> </i></small></div>
    <div id="go_back" style="margin-top: 20px;"><a href="/"><< Back to Overview </a></div>
</div>

<script>
$(function() {
      $('a[id="' + window.location.hash.replace(/#/, '') + '"]').closest('tr').addClass('moreinfo')
});</script>


