<!DOCTYPE html>
<!-- HTTPHLTHCHKEADCKOALA -->
<!--<html lang="en">-->
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
	<meta charset="utf-8">
	<meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
	<title>Service Health Dashboard</title>
	<%= stylesheet_link_tag    "reset", :media => "all" %>
    <%= stylesheet_link_tag    "style", :media => "all" %>
    <%= stylesheet_link_tag    "brand", :media => "all" %>
    <%= stylesheet_link_tag    "font", :media => "all" %>
    <%= stylesheet_link_tag    "jquery-ui", :media => "all" %>
    <%= stylesheet_link_tag    "jquery-ui-datepicker-addon", :media => "all" %>
    <%= javascript_include_tag "application" %>
	<%= javascript_include_tag "jquery-ui" %>
    <%= javascript_include_tag "jquery-ui-datepicker-addon" %>
	<%= csrf_meta_tags %>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	  ga('create', 'UA-42476236-1', 'ninefold.com');
	  ga('send', 'pageview');
	</script>
<link rel='shortcut icon' href='/favicon_black.png' type='image/png'/>
</head>
<body>
	<header class="navbar">
		<div class="navbar-inner">
			<div class="container">
				<a href="/" class="brand"><%= image_tag("logo.png", :class => "logo-img", :alt => "rss feed") %></a>
				<div class="nav-collapse collapse">
					<nav class="nav">
						<li><a href="http://ninefold.com/pricing">PRICING</a></li>
						<li><a href="http://ninefold.com/performance">PERFORMANCE</a></li>
						<li><a href="https://help.ninefold.com/home">DOCS</a></li>
						<li><a href="https://help.ninefold.com/contact">CONTACT</a></li>
						<li><a href="https://portal.ninefold.com">SIGN IN</a></li>
						<% if user_signed_in? %>
							<li><%= link_to 'ADMIN', '/admin' %></li>
						<% end %>
					</nav>
				</div>
			</div>
		</div>
<!-- $j('#header').after('<div id="sub-nav-menu"><div id="sub-nav-wrap"><ul>' + justMenu + '<li class="main clazz"><a href="https://portal.ninefold.com/" class="tab">Portal</a><li class="main clazz"><a href="https://status.ninefold.com/2" class="tab">Service Health</a></li></ul></div></div>'); -->

	<div id="sub-nav-menu">
		<div id="sub-nav-wrap">
			<ul>
				<li><a class="tab" href="https://help.ninefold.com/home">KNOWLEDGE BASE</a></li>
				<li><a class="tab" href="/2">Ninefold</a></li>
				<li><a class="tab" href="/1">Original Ninefold</a></li>
				</ul>
		</div>
	</div>

	</header>

	<div style="margin-top: 20px; width: 860px; margin: 20px auto 0px; border-bottom: 3px solid #2A9DDB; "><h1 id="heading">Service Health Dashboard</h1></div>

	<div class="container main" style="margin-top: 20px;">

		<div id="content">
	 		<p class="notice"><%= notice %></p>
			<p class="alert"><%= alert %></p>
			<%= yield %>
		</div>
		<div id="push"></div>
	</div>

</body>
</html>


